.Select-control {
    background-color: #2B2B2B !important;
    color: #D4D4D4 !important;
}

.Select-menu-outer {
    background-color: #2B2B2B;
    border-color: #808080;
}

.Select-option.is-focused {
    background-color: #808080;
}

.Select-option.is-selected {
    background-color: #0C7BDC;
}

.Select-value-label, .Select-placeholder {
    color: #D4D4D4 !important;
}